/* nav {
    background-color: black;
    height: 50px;
    width: 100%;
    position: fixed;
    padding: 10px;
    justify-content: space-around;

}

ul {
    display: flex;
    list-style: none;
    color: rgb(113, 129, 235);
    justify-content: space-around;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
} */


.container {
    width: 575px;
    height: 825px;

    background-color: #797978;
    padding-left: 30px;
}

#height,#weight {
    width: 150px;
    height: 25px;
    margin-top: 30px;
}

#weight-guide {
    margin-left: 75px;
    margin-top: 25px;
}

#results {
    font-size: 35px;
    margin-left: 90px;
    margin-top: 20px;
    color: rgb(241, 241, 241);
}

button {
    width: 150px;
    height: 35px;
    margin-left: 90px;
    margin-top: 25px;
    background-color: #fff;
    padding: 1px 30px;
    border-radius: 8px;
    color: #212121;
    text-decoration: none;
    border: 2px solid #212121;

    font-size: 25px;
}

h1 {
    padding-left: 15px;
    padding-top: 25px;

}